body{
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
#display{
    width: 100%;
    padding:50px;
    font-size: 3rem;
     background-color:grey;
     text-align: left;
     border:  none;
     color: white;
}
#Calculator{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(0, 0, 0);
    border-radius: 25px;
     max-width: 500px;
     overflow: hidden;
}

#keys{
display: grid;
grid-template-columns:repeat(4,1fr) ;
margin: 20px;
gap: 15px;
}

button{
    background-color:rgb(102, 98, 98);
    color: white;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    /* margin: 10px;
    padding: 15px; */
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
       background-color:   rgb(143, 133, 133);
}
button:active{
    background-color: rgb(113, 117, 117);
}
.oprator-btn{
    background-color: orange;
}
.oprator-btn:hover{
    background-color: hsl(35,100%,45%);
}
.oprator-btn:active{
    background-color: chocolate;
}