* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    color: #fff;
}

body {
    background: linear-gradient(to bottom, rgb(52, 160, 93), rgb(70, 99, 163));
    height: 100vh;

}

.card {
    width: 50%;
    max-width: 470px;
    background: linear-gradient(to bottom, rgb(45, 139, 82), rgb(59, 84, 138));
    color: gray;
    margin: 30px auto 0;
    padding: 25px 35px;
    border-radius: 20px;
    text-align: center;
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search button img {
    width: 20px;
    background-color: black;
}

.search button {
    padding: 9px;
    padding-right: 30px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    background-color: white;
}

.search button:hover {
    background-color: rgb(204, 198, 198);
}

.search button:active {
    background-color: rgb(194, 191, 191);
}

.search input {
    padding: 15px;
    padding-right: 90px;
    border-radius: 50px;
    border: none;
     flex: 1;
     min-width: 60%;
    font-size: 15px;
    color: black;
}

.weathericon {
    margin-right: 55px;
    width: 200px;
    margin-top: -30px;
    margin-bottom: 35px;

}

.temp {
    font-size: 70px;
    font-weight: lighter;
    margin-top: -65px;
}

.city {
    font-size: 40px;
    margin-top: 12px;
    font-weight: 100;
}

.details {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: -4px;
    margin-top: 50px;
}

.colom {
    flex: 1 1 45%;
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: large;
    font-weight: 100;
    margin: 5px 0;
}

.colom img {
    width: 40px;
    margin: 5px;
}

.colom p {
    font-weight: bold;
}

.speed img {
    margin-right: 20px;
    margin-top: 25px;
    font-size: x-large;
}

.weather {
    display: none;
}



.error {
    text-align: left;
    font-size: bold;
    margin-top: 12px;
    display: none;
    color: red;
}

.loading {
    display: none;
    text-align: center;
    align-items: center;
    margin-top: 10px;
}

.loading ::after {
    content: "";
    width: 30px;
    height: 30px;
    border: 4px solid #ccc;
    border-top-color: #007BFF;
    /* Blue spinner */
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(250deg);
    }
}

.forecast {
  margin-top: 20px;
  text-align: center;
}

.forecast-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 10px;
}

.forecast-day {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 15px;
  padding: 10px 15px;
  width: 90px;
  color: #fff;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.forecast-day img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.datetime{
    font-size: large;
    padding-top: 2px;
}

/* Mobile devices */
@media (max-width:480px) {
    
    .card{
        padding:25px 20px;
    }

    .temp{
        font-size: 50px;
    }

    .weathericon{
        width: 150px;
    }

    .colom{
        flex: 1 1 100%;
        justify-content: space-between;
    }

    .forecast-day{
        flex: 1 1 60px;
        font-size: 12px;
    }
}