   body{
       font-family: Arial, sans-serif;
       background: linear-gradient(to bottom, rgb(0, 0, 0));
       height: 90vh;
       margin: 0;
       padding: 20px;
   }
   .container{
       max-width: 600px;
       margin-left:30%;
       background:linear-gradient(to bottom, white, lightgray);
       padding: 20px;
       box-shadow: 0 0 10px rgba(0,0,0,0.1);
       border-radius: 10px;
   }
   h1{
       text-align: center;
   }
   input[type="text"]{
       width: 80%;
       padding: 10px;
       margin-right: 10px;
       border: 1px solid #ccc;
       border-radius: 10px;
   }
   button{
       padding: 10px 15px;
       background-color: #28a745;
       color: rgb(240, 237, 237);
       border: none;
       border-radius: 10px;
       cursor: pointer;
   }
   button:hover{
       background-color: #218838;
   }
   .results{
       margin-top: 20px;
   }
   .movie{
       border-bottom: 1px solid #ccc;
       padding: 10px 0;
   }
   .movie:last-child{
       border-bottom: none;
   }   