 body {
     margin: 200px;
     background-color: rgb(0, 0, 0);
     font-family: sans-serif;
     font-style: italic;
     color: rgb(255, 255, 255);
 }
 .container {
     display: grid;
     align-items: center;
     justify-content: center;
     height: 465px;
     background-color: rgba(206, 11, 108, 0.884);
     width: 1350px;
     gap: 22px;
     border: none;
     border-radius: 15px;
     margin-left: 8%;
 }
 h1 {
     text-align: center;
     margin-bottom: 62px;
     color: rgb(255, 255, 255);
     font-size: xxx-large;
 }
 h2 {
     text-align: center;
     color: rgb(255, 255, 255);
     font-size: xx-large;
 }
 button {
     display: block;
     margin: 20px auto;
     padding: 10px 20px;
     font-size: large;
     cursor: pointer;
     border: none;
     border-radius: 5px;
 }
 button:hover {
     background-color: rgb(187, 183, 183);
 }
 p {
     text-align: center;
     color: white;
     font-size: large;
 }
 #author{
     font-weight: bolder;
 }