* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    background: linear-gradient(to bottom, rgb(74, 23, 141), rgb(175, 3, 109));
    height: 100vh;
    width: 100%;
    padding: 10px;
}

.todoapp {
    color: blueq;
    background-color: white;
    width: 100%;
    margin: 100px auto 20px;
    padding: 40px 100px 50px;
    max-width: 540px;
    border-radius: 25px;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    ;
}

.todpapp {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    margin-top: 20px;

}

.todoapp h2 {
    font-size: xx-large;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    color: blue;
}

.todoapp h2 img {
    width: 50px;
    margin-left: 10px;
}

#inputbox {
    padding: 25222px;
}

::placeholder {
    font-size: small;
    border: none;
}

::placeholder :active {
    color: black;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 18px;
}

input {
    background: transparent;
    outline: none;
    border: none;
    flex: 1;
}

#inputbox {
    border-radius: 8px;
    border: 1px solid black;
    padding: 8px;
    font-weight: normal;
    font-size: small;
    color: black;
}

#btn {
    border: none;
    padding: 8px;
    border-radius: 8px;
    padding-left: 23px;
    padding-right: 23px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 12px;
    font-weight: 600;
    background-color: rgb(231, 142, 68);
}

#btn:hover {
    background-color: rgb(223, 99, 17);
    color: rgb(31, 17, 12);
}

ul li {
    list-style: none;
    font-size: 15px;
    padding: 12px 10px 12px 10px;
    user-select: none;
    cursor: pointer;
    position: relative;
    top: 29px;
    left: 28px;
}

ul li::before {
    content: '';
    position: absolute;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-image: url('unchecked_circle.svg');
    background-size: cover;
    background-position:center;
    top: 12px;
    left: -25px;
}

ul li.checked{
color: #555;
text-decoration: line-through;
}
ul li.checked::before{
    background-image:url(checked_circle.svg) ;
}


ul li span{
    position:absolute;
    right: 0%;
    top:5px ;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: black;
    line-height: 40px;
    text-align: center;
    border-radius: 25px;
}

ul li span:hover{
    background-color: #cac3c3;
}